html, body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F0F0F0;
}

a {
    color: #727272;
    text-decoration: none;
}

header {
    height: 5vh;
    border-bottom: 1px solid;
    margin-left: 5vw;
    display: flex;
    align-items: flex-end;
    gap: 4rem;
    padding-bottom: 5px;
}

main {
    width: 90vw;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-size: 5rem;
    margin-bottom: 0;
    text-wrap: wrap;
}
.text-right {
    text-align: right;
}
.top-border {
    border-top: 1px solid;
}
.w-2 {
    width: 2em;
}
.w-45 {
    width: 45vw;
}

footer {
    border-top: 1px solid;
    display: flex;
    justify-content: space-between;
    margin-left: 50vw;
    padding-top: 5px;
}

.text-teal {
    color: #1dca90;
}

@media screen and (orientation:portrait) {
    .w-45 {
        width: 90vw;
        margin: auto;
    }
    footer {
        margin-left: 5vw;
    }
}

@keyframes openscale {
    0% {
        transform: scale(0, 1);
    }
    30% {
        transform: scale(0.01, 1);
    }
    
    100% {
        transform: scale(1,1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes wondering {
	86% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
	}
    87% {
        transform: matrix3d(1, 0, 0, -0.01, -0.1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    89% {
        transform: matrix3d(1, 0, 0, -0.01, -0.1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    90% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    91% {
        transform: matrix3d(1, 0, 0, 0.01, 0.1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    93% {
        transform: matrix3d(1, 0, 0, 0.01, 0.1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    94% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    95% {
        transform: matrix3d(0.75, 0, 0, 0, 0, 1.25, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    96% {
        transform: matrix3d(1.25, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    97% {
        transform: matrix3d(0.85, 0, 0, 0, 0, 1.15, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    98% {
        transform: matrix3d(1.05, 0, 0, 0, 0, .95, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    99% {
        transform: matrix3d(0.95, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}
main {
    animation: 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0s 1 openscale;
}
.fade-in {
    animation: 4s ease-in 0s 1 fadeIn;
}
.exclemation {
    display: inline-block;
    animation: wondering 20s ease 3s infinite both;
}